{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
    <head>
        <meta charset="UTF-8">
        <title>delete {{ object }}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>
{% endblock %}
<body>
{% block body %}
    <div class="main" style="margin-top: 120px;">
        <div class="container">
            <form method="post" class="form-group" onsubmit="deleteobject()">
                {% csrf_token %}
                <p>Are you sure you want to delete {{ object }}?</p>
                <input class="btn btn-success" type="submit" value="Confirm">
            </form>
        </div>
    </div>

    <script>
     function deleteobject() {
         alert('{{ object }} deleted successfully')
     }
    </script>

{% endblock %}
</body>
</html>
