# Default ignored files
/../../../../:PycharmProjects/T_Shirt_World/.idea/shelf/
/../../../../:PycharmProjects/T_Shirt_World/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:PycharmProjects/T_Shirt_World/.idea/dataSources/
/../../../../:PycharmProjects/T_Shirt_World/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../:PycharmProjects/T_Shirt_World/.idea/httpRequests/
